/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "theme/color";
@import "base/body";
@import "modules/banner-main";
@import "modules/menu";
@import "layout/infos";
@import "theme/font";
@font-face {
    font-family: "Segoe";
    src: url("../sass/theme/Segoe\ UI.ttf") format("ttf");
}

@media only all and (min-width: 576px) {
    @import "state/576up";
}


/* Reprendre l'architecture du BEM ici:*/
body {
    @include body--color($white);
}
strong {
    color:$primary;
    font-weight: 700;
}
.container-fluid {
    width:100%;
    margin: 0 auto 0 auto;
    padding: 0;
}
.row {
    width:100%;
    margin: 0 auto 0 auto;
    padding: 0;
}
.hide {
    display: none;
  } 
.banner-main {
    @include banner-main($banner-small);
}
.banner-main--hide {
    display:none;
}
.fa-align-left {
    @include button-menu($white);
}
.fa-align-left:hover {
    @include button-menu--hover();
}
.circle {
    @include circle-header();
}
.button {
    text-align: center;
    color: $primary;
  
}
.button:hover{
    @include button--hover(true);
}

img.logo {
    @include logo();

}
.menu-title {
    @include menu-title();
}
.line {
    @include line();
}
.section-title{
    @include section-title($white,$primary,$font-title1);
}
.section--bg-color-secondary {
        @include section($white,$secondary,$font-text1);
       /*  @include circle-left(); */
    }
.section--bg-color-primary {
        @include section($white,$primary,$font-text1);
      /*   @include circle-right(); */
    }
.section--color-secondary {
        @include section($secondary,$white,$font-text1);
}
.section--color-primary {
    /* $color $bg-color $font */
        @include section($primary,$white,$font-text1);
}
.border-left--secondary {
    @include border-left($secondary,$font-text1);
}
.border-left--primary {
    @include border-left($primary,$font-text1);
}
.border-right--secondary {
    @include border-right($secondary,$font-text1);
}
.border-right--primary {
    @include border-right($primary,$font-text1);
}
.card-title {
    @include card-section-title($primary, $white,$font-title2);
}
.card-menu {
    @include card-menu($white,$primary,$font-text3);
}
.card-text {
    @include card-text($primary,$white,$font-text3);
}
.card-section {
    @include section($secondary,$white,$font-text2);
    opacity:0.95;
}
.card-img-top {
    transform: scale(1);
    width: 100%;
    height: auto;
   
}
.btn {
   @include card-button();
   text-align: center;
   border:none;
}
.btn:hover{
    background-color: $secondary;
    opacity:0.9;
}
.carousel-control-prev {
/*    position: relative;
   top: 0px; */
   background-color: $secondary;
   opacity: 0.4;
   z-index: 500;
   height: 3em;;
}
.carousel-control-next {
    background-color: $primary;
    opacity: 0.4;
    z-index: 500;
    height: 3em;;

}
#carouselExampleFade{
    max-width: 700px;
}
.agenda-card {
color: green;
}
.circle-footer {
justify-content: center;
align-items: center;
color: $white;
padding:0;
}
.circle-footer-left {
@include circle-footer-left();
}
.circle-footer-right {
    @include circle-footer-right();
}
.line-left
.line-right
.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row--blue {
    @include box--color($primary, $white)
}
.row--red {
    @include box--color($secondary, $white)
}