/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "theme/color";
@import "theme/font-size";
@import "modules/mixins";
@import "modules/mixins-general";
@import "layout/section-start-menu";
@import "animations/animations";
@import "base/body";
@import "layout/section-infos";
@import "layout/section-agenda";
@import "layout/section-contact";
@import "layout/section-ask-us";
@import "layout/section-progressive";
@import "layout/section-newsletter";
@import "modules/header";
@import "modules/footer";
@import "modules/menu";
@import "state/576up";
@font-face {
    font-family: "Segoe";
    src: url("../sass/theme/Segoe\ UI.ttf") format("ttf");
}

@media only all and (min-width: 576px) {
    @import "state/576up";
}


/* Reprendre l'architecture du BEM ici:*/

/*Définit le style et le comportement des boutons sur la page d'accueil */
.button {
    text-align: center;
    color: $primary;
  
}
.button:hover{
    @include button--hover(false);
}
img.logo {
    @include logo();

}
.menu-title {
    @include menu-title();
}
.line {
    @include line();
}
.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .row--blue {
    @include box--color($bg-primary, $white)
}
.row--red {
    @include box--color($bg-secondary, $white)
}
 */
