/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "theme/color";
@import "base/body";
@import "modules/banner-main";
@import "modules/menu";
@import "layout/infos";
@font-face {
    font-family: "Segoe";
    src: url("../sass/theme/Segoe\ UI.ttf") format("ttf");
}

/* Reprendre l'architecture du BEM ici:*/
body {
    @include body--color($white);
}
strong {
    color:$primary;
    font-weight: 700;
}
.hide {
    display: none;
  } 
.banner-main {
    @include banner-main($banner);
}
.banner-main--hide {
    display:none;
}
.fa-align-left {
    @include button-menu($white);
}
.fa-align-left:hover {
    @include button-menu--hover();
}
.circle {
    @include circle-header();
}
.button {
    justify-content: center;
}
.button:hover {
    @include button--hover();
}
.menu-title {
    @include menu-title();
}
.line {
    @include line();
}
.section-title{
    @include section-title($white,$primary);
}
.section--bg-color-secondary {
        @include section($white,$secondary);
       /*  @include circle-left(); */
    }
.section--bg-color-primary {
        @include section($white,$primary);
      /*   @include circle-right(); */
    }
.section--color-secondary {
        @include section($secondary,$white);
}
.section--color-primary {
        @include section($primary,$white);
}
.border-left--secondary {
    @include border-left($secondary);
}
.border-left--primary {
    @include border-left($primary);
}
.border-right--secondary {
    @include border-right($secondary);
}
.border-right--primary {
    @include border-right($primary);
}
.circle-footer {

justify-content: center;
align-items: center;
color: $white;
padding:0;
}
.circle-footer-left {
@include circle-footer-left();
}
.circle-footer-right {
    @include circle-footer-right();
}
.line-left
.line-right
.box-logo
.row--blue {
    @include box--color($primary, $white)
}
.row--red {
    @include box--color($secondary, $white)
}