@-webkit-keyframes fixedWhite {
    0% {}
    100% {color: white;}
}
@-webkit-keyframes in {
    0% {left:-150px;}
    100% {left: -19px;opacity:0.8;border-radius:0 0 20px 0;}
}
@-webkit-keyframes out {
    0% {left:-50px;}
    100% {left:-150px;}
}
@-webkit-keyframes up {
    0% {}
    100% {bottom: 0px;}
}
@-webkit-keyframes down {
    0% {bottom: 10px;}
    100% {bottom:0px;}
}