@mixin banner-main ($banner) {
    background-image:$banner;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 200px;
    border-radius: 0 0 0 40%;
}
@mixin button-menu ($color) {
    position: relative;
    text-align: center;
    top: 10px;
    left: 5px;
    color: $color;
    background-color: transparent;
    font-size: 3em;
    max-width: 50px;
    z-index: 100;
    animation-name: button-menu;
    animation-duration: 0s;
	animation-iteration-count:1;
	animation-delay:0;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@-webkit-keyframes button-menu {
    0% {}
    100% {font-size: 2.5em; left:-10px;}
}
@mixin button-menu--hover() {
    
    color:$secondary;
    opacity:0.8;
}
@mixin circle-header {
    position: absolute;
    top: 90%;
    left:33%;
    border-radius: 50%;
    width: 34%;
    height: 100%;
    background-color: white;
    content:"";
}

@mixin circle-footer-left {
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* top: 40px;
    border-radius: 50%;
    border-top: 100px solid $primary;
    color: $white;
    background-color: $primary;
    content:"";
} */
    height: 60px;
   // 2*height
    background: $primary;
    color:$white;
    border-top-left-radius: 100%; // 4*height
    border-top-right-radius: 0%; // 4*height
    margin:0;
    padding:0;
}
@mixin circle-footer-right {
    
    position: relative;
    /* top: 40px;
    border-radius: 50%;
    border-top: 100px solid $primary;
    color: $white;
    background-color: $primary;
    content:"";
} */
    height: 60px;
   // 2*height
    background: $primary;
    color:$white;
    border-top-left-radius: 0%; // 4*height
    border-top-right-radius: 100%; // 4*height
    margin:0;
    padding:0;
}
@mixin copyright(){
    text-transform: capitalize;
    font-size: 0.6em;
}
#footer {
    position: relative;
    top:100%;
    left:0%;
    width: 100%;


}