#banner-progressive {
 position: fixed;
 line-height: 3em;
 top:-400px;
 left: 35%;   
 width: 400px;
 height: 400px;
 z-index:1000;
 animation-name: banner-progressive;
 animation-duration: 1s;
 animation-iteration-count:1;
 animation-delay:0;
 animation-direction: normal;
 animation-fill-mode: forwards;
 animation-timing-function: linear;
}
#button-phone {
    color: $primary;
    position: fixed;
    top:20%;
    left: 10px;
    font-size: 3em;
    z-index: 100;
 animation-name: button-phone;
 animation-duration: 1.5s;
 animation-iteration-count:infinite;
 animation-delay:0;
 animation-direction: normal;
 animation-fill-mode: forwards;
 animation-timing-function: linear;
}
    
@mixin banner-main ($banner) {
    background-image:$banner;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    border-radius: 0 0 0 40%;
    margin:0;
    padding:0;
}
@mixin button-menu () {
    
    animation-name: fixedWhite;
    animation-duration: 0.5s;
	animation-iteration-count:1;
	animation-delay:0;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@mixin button-menu--hover() {
    
    color:$secondary;
    opacity:0.8;
}
@mixin circle-header {
    position: relative;
    top: 90%;
    left:33%;
    border-radius: 50%;
    width: 34%;
    height: 100%;
    background-color: white;
    content:"";
}

@mixin circle-footer-left {
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* top: 40px;
    border-radius: 50%;
    border-top: 100px solid $primary;
    color: $white;
    background-color: $primary;
    content:"";
} */
    height: 100px;
   // 2*height
    background: $primary;
    color:$white;
    border-top-left-radius: 100%; // 4*height
    border-top-right-radius: 0%; // 4*height
    margin:0;
    padding:0;
    opacity:0.9;
}
@mixin circle-footer-right {
    
    position: relative;
    /* top: 40px;
    border-radius: 50%;
    border-top: 100px solid $primary;
    color: $white;
    background-color: $primary;
    content:"";
} */
    height: 100px;
   // 2*height
    background: $primary;
    color:$white;
    border-top-left-radius: 0%; // 4*height
    border-top-right-radius: 100%; // 4*height
    margin:0;
    padding:0;
    opacity:0.9;
}
@mixin copyright(){
    text-transform: capitalize;
    font-size: 0.6em;
   
}


#button-footer {
    animation-name: prog;
    animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-delay:0;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
    color: $white;
        position: fixed;
        text-align: center;
        top: 94%;
        left: 47%;
        background-color: transparent;
        font-size: 2em;
        max-width: 50px;
        z-index: 100;
}
#footer {
    position: fixed;
    bottom:-80px;
    left:0%;
    width: 100%;
}
#list-media {
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 2em;
    & li i {
        justify-content: space-around;
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: white;
    }
    & a:hover {
        color: $secondary;
    }
}