#button-footer {
    animation-name: prog;
    animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-delay:0;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
    color: $white;
    cursor:pointer;
        position: fixed;
        text-align: center;
        top: 94%;
        left: 47%;
        background-color: transparent;
        font-size: 2em;
        max-width: 50px;
        z-index: 100;
}
#footer {
    position: fixed;
    bottom:-80px;
    left:0%;
    width: 100%;
}
#footer.up {
    @include footer-up();
}
#footer.down {
    @include footer-down();
}
#list-media {
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 2em;
    & li i {
        justify-content: space-around;
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: white;
    }
    & a:hover {
        color: $secondary;
    }
}
.circle-footer {
    justify-content: center;
    align-items: center;
    color: $white;
    padding:0;
    }
    .circle-footer-left {
    @include circle-footer-left();
    }
    .circle-footer-right {
        @include circle-footer-right();
    }