
#button-footer {
    color: $primary;
    background-color: transparent;
    position: relative;
    font-size: 3em;
    z-index: 100;
    cursor: pointer;
 animation-name: button-phone;
 animation-duration: 1.5s;
 animation-iteration-count:infinite;
 animation-delay:0;
 animation-direction: alternate;
 animation-fill-mode: none;
 animation-timing-function: linear;
}
#footer {
    position: fixed;
    bottom:-80px;
    left:0%;
    width: 100%;
}
#footer.up {
    @include footer-up();
}
#footer.down {
    @include footer-down();
}
#list-media {
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 2em;
    & li i {
        justify-content: space-around;
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: white;
    }
    & a:hover {
        color: $secondary;
    }
}
.circle-footer {
    justify-content: center;
    align-items: center;
    color: $white;
    padding:0;
    }
    .circle-footer-left {
    @include circle-footer-left();
    }
    .circle-footer-right {
        @include circle-footer-right();
    }