
.banner-header {
    @include banner-main($banner-small);
}
.banner-header::after{
 @include circle();
}

.banner-header--hide {
    display:none;
}
.circle {
    @include circle-header();
}

#banner-main {
    @include banner-main($banner-small);
}
  .button.hide.fas {
    display: flex;
    justify-content: center;
}
