#menu{
    list-style: none;
    padding:0;
    margin:0 1em 0 1em;
   flex: 60%;
   max-width: 100px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    z-index: 5000;
    color: $primary;
    background-color: $primary;
   /*  font-size: 1.4em; */
   font-size: 100%;
  
}
#menu li {
    text-align: left;
   
}
#menu a {
    text-decoration: none;
    color:$white;
    padding:0 10px 0 10px;
    &:hover{
        color:$secondary;
        font-weight: 700;
    }
}


#button-menu {
    color: $primary;
    position: fixed;
    text-align: center;
    top: 40%;
    left: 5px;
    background-color: transparent;
    opacity:0.8;
    font-size: 2.5em;
    max-width: 50px;
    z-index: 10000;
    &:hover{
        opacity:1;
       
    }
}
#button-menu.color-primary{
    color: $primary;
}   

#menu.in {
    @include in();

}
#menu.out{
    @include out();
}

