$white:#FFFFFF;
$blue: #c8f7fc;
$jaune-epilepsie: #F7B11D;
$red-marlboro: #AA0501;
$blue-facebook: #3B5998;
$red-youtube:	#FF0000;
$black-github: #24292E;
/* $primary: #1E233E;
$secondary: #D7293A; */
$primary: #D7293A;
$secondary: #1E233E;
$banner-small: url('../img/banner-phone--red.png');
$banner-medium: url('../img/banner-medium.png');

