$white:#FFFFFF;
$blue: #c8f7fc;
$jaune-epilepsie: #F7B11D;
$red-marlboro: #AA0501;
$blue-facebook: #3B5998;
$red-youtube:	#FF0000;
$black-github: #24292E;
/* $primary: #1E233E;
$secondary: #D7293A; */
$primary:  rgba(215, 41, 58,1);
$secondary: rgba(30, 35, 62,1);
/* $primary: #24292E;
$secondary: rgb(89, 90, 90); */
$banner-small: url('../img/banner-phone--red.png');
$banner-medium: url('../img/banner-medium.png');
$transparent: transparent;
$bg-primary: $primary;
$bg-secondary:$secondary;
$bg-body: white;
/*  rgba(215, 41, 58, 0.164); */



