/*Body de base avec choix couleur*/
@import "theme/color";
body {
   justify-content: center;
   width: 100%;
   margin: 0 auto 0 auto;
   background-color:$white;
   color: $secondary;
   font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
}


strong {
    color:$primary;
    font-weight: 700;
}
.container-fluid {
    width:100%;
    margin: 0 auto 0 auto;
    padding: 0;
}
.row {
    width:100%;
    margin: 0 auto 0 auto;
    padding: 0;
}
.hide {
    display: none;
  }
#main-section {
    height: 100vh;
}
    

