/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* $primary: #1E233E;
$secondary: #D7293A; */
/*Body de base avec choix couleur*/
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $font */
/* $color $bg-color $font */
@font-face {
  font-family: "Segoe";
  src: url("../sass/theme/Segoe UI.ttf") format("ttf");
}
/* Reprendre l'architecture du BEM ici:*/
body {
  width: 100%;
  margin: 0 auto 0 auto;
  /* background-color: $color; */
  color: #D7293A;
  font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  color: #D7293A;
  font-weight: 700;
}

.hide {
  display: none;
}

.banner-main {
  background-image: url("../img/banner-phone--red.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 200px;
  border-radius: 0 0 0 40%;
}

.banner-main--hide {
  display: none;
}

.fa-align-left {
  position: absolute;
  text-align: center;
  top: 5px;
  left: 5px;
  color: #FFFFFF;
  background-color: #D7293A;
  font-size: 3em;
  max-width: 50px;
  z-index: 100;
}

.fa-align-left:hover {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
  color: #1E233E;
}

.circle {
  position: absolute;
  top: 90%;
  left: 33%;
  border-radius: 50%;
  width: 34%;
  height: 100%;
  background-color: white;
  content: "";
}

.button {
  justify-content: center;
}

.button:hover {
  /* background-color: transparentize($secondary, 0.90);  */
  transition: all 0.3s ease 0s;
  opacity: 0.9;
  background-color: #1E233E;
  color: #FFFFFF;
}
.button:hover .menu-title, .button:hover .line {
  color: white;
  opacity: 0.8;
  border-color: white;
  transition: all 0.3s ease 0s;
}
.button:hover .logo {
  opacity: 0.2;
  /*   transition: all 0.3s ease 0s; */
  border-radius: 50%;
}

.menu-title {
  font-size: 1.4em;
  font-weight: 550;
  letter-spacing: 0.1em;
  color: #D7293A;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.line {
  align-items: flex-start;
  border-top: 2px solid #D7293A;
  width: 100%;
  height: 50%;
}

.section-title {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  background-color: #D7293A;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

.section--bg-color-secondary {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #1E233E;
  /*  @include circle-left(); */
}

.section--bg-color-primary {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #D7293A;
  /*   @include circle-right(); */
}

.section--color-secondary {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #1E233E;
  background-color: #FFFFFF;
}

.section--color-primary {
  /* $color $bg-color $font */
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #D7293A;
  background-color: #FFFFFF;
}

.border-left--secondary {
  border-left: 2px solid #1E233E;
  padding: 0 2em 0 2em;
  text-align: left;
  font-size: 1em;
}

.border-left--primary {
  border-left: 2px solid #D7293A;
  padding: 0 2em 0 2em;
  text-align: left;
  font-size: 1em;
}

.border-right--secondary {
  border-right: 2px solid #1E233E;
  padding: 0 2em 0 2em;
  text-align: right;
  font-size: 1em;
}

.border-right--primary {
  border-right: 2px solid #D7293A;
  padding: 0 2em 0 2em;
  text-align: right;
  font-size: 1em;
}

.card-title {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: #D7293A;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.3em;
  line-height: 1.2em;
}

.card-menu {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #D7293A;
  color: #FFFFFF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
  align-self: center;
  overflow: hidden;
  letter-spacing: 0.1em;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 110px;
}

.card-text {
  font-size: 0.9em;
  color: #D7293A;
  background-color: #FFFFFF;
  text-align: left;
  padding: 0.4em;
  margin: 0.2em 0 0.2em 0;
}

.card-section {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #1E233E;
  background-color: #FFFFFF;
  opacity: 0.95;
}

.card-img-top {
  transform: scale(1);
  width: 100%;
  height: auto;
}

.btn {
  background-color: #FFFFFF;
  color: #D7293A;
  border: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 45px;
  text-align: center;
  border: none;
}

.btn:hover {
  background-color: #1E233E;
  opacity: 0.9;
}

.agenda-card {
  color: green;
}

.circle-footer {
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 0;
}

.circle-footer-left {
  justify-content: flex-end;
  align-items: center;
  position: relative;
    /* top: 40px;
    border-radius: 50%;
    border-top: 100px solid $primary;
    color: $white;
    background-color: $primary;
    content:"";
} */
  height: 60px;
  background: #D7293A;
  color: #FFFFFF;
  border-top-left-radius: 100%;
  border-top-right-radius: 0%;
  margin: 0;
  padding: 0;
}

.circle-footer-right {
  position: relative;
    /* top: 40px;
    border-radius: 50%;
    border-top: 100px solid $primary;
    color: $white;
    background-color: $primary;
    content:"";
} */
  height: 60px;
  background: #D7293A;
  color: #FFFFFF;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  margin: 0;
  padding: 0;
}

.line-left
.line-right
.box-logo
.row--blue {
  background-color: #D7293A;
  color: #FFFFFF;
}

.row--red {
  background-color: #1E233E;
  color: #FFFFFF;
}
