@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* $primary: #1E233E;
$secondary: #D7293A; */
/* $primary: #24292E;
$secondary: rgb(89, 90, 90); */
/*  rgba(215, 41, 58, 0.164); */
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $bg-color $font */
/* $color $font */
/* $color $bg-color $font */
#start-menu {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/atomium-opacity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  line-height: 3em;
  animation-name: start-menu;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#loading-text {
  /*   position:relative; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 50vw;
  height: 100vh;
  font-size: 1.2em;
  margin: 0 auto 0 auto;
  background-color: transparent;
  animation-name: loading-text;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#loading-box {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 25vh;
  justify-content: space-between;
  flex-wrap: nowrap;
  z-index: 1000;
  width: 80vw;
  height: 15vh;
  /*  font-size: 1em; */
  background-color: transparent;
  animation-name: loading-box;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 5.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#loading-box .loading-box {
  margin: 5px;
  flex: 20%;
  border: 1px solid #FFFFFF;
  width: 20px;
  max-width: 40px;
  height: 20px;
  max-height: 40px;
  position: relative;
}

#box1 {
  animation-name: box1,box1down;
  animation-duration: 1s,2s;
  animation-iteration-count: 1,infinite;
  animation-delay: 1s,6s;
  animation-direction: normal,alternate;
  animation-fill-mode: forwards,none;
  animation-timing-function: linear,linear;
}

#box2 {
  animation-name: box2,box2down;
  animation-duration: 1s,2s;
  animation-iteration-count: 1,infinite;
  animation-delay: 2s,6s;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards, none;
  animation-timing-function: linear,linear;
}

#box3 {
  animation-name: box3,box3down;
  animation-duration: 1s,2s;
  animation-iteration-count: 1,infinite;
  animation-delay: 3s,6s;
  animation-direction: normal,alternate;
  animation-fill-mode: forwards,none;
  animation-timing-function: linear,linear;
}

#box4 {
  animation-name: box4,box4down;
  animation-duration: 1s,2s;
  animation-iteration-count: 1,infinite;
  animation-delay: 4s,6s;
  animation-direction: normal,alternate;
  animation-fill-mode: forwards,none;
  animation-timing-function: linear,linear;
}

#box5 {
  animation-name: box5,box5down;
  animation-duration: 1s,2s;
  animation-iteration-count: 1,infinite;
  animation-delay: 5s,6s;
  animation-direction: normal,alternate;
  animation-fill-mode: forwards,none;
  animation-timing-function: linear,linear;
}

#button-enter {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #d7293a;
  background-color: #FFFFFF;
  border-radius: 20px;
  opacity: 0;
  max-width: 150px;
  max-height: 60px;
  width: 100%;
  box-shadow: 2px 2px rgba(30, 35, 62, 0.1);
  height: auto;
  cursor: pointer;
  animation-name: button-enter,button-enter2;
  animation-duration: 1s,700ms;
  animation-iteration-count: 1,infinite;
  animation-delay: 6s,7s;
  animation-direction: normal,alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#button-enter:hover {
  color: white;
  background-color: #d7293a;
}

#box-cta {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  /* border-left: 1px dotted rgba($primary,0.5); */
  /*  border-right: 1px solid rgba($primary,0.5); */
  padding-right: 5px;
  /* filter: grayscale(40%); */
  justify-content: flex-start;
  align-items: flex-start;
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 5000;
  animation-name: box-cta;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#box-cta .button {
  margin: 0.5em;
  /* border-right: 1px solid rgba($primary,0.5); */
  opacity: 0.9;
  flex: 100%;
}
#box-cta h2 {
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.4em;
  font-size: 1em;
  flex: 100%;
  margin-top: 10px;
  overflow-wrap: break-word;
}

#box-button-cta {
  justify-content: flex-start;
  align-items: flex-start;
  height: 40%;
  flex: 60%;
  align-self: flex-start;
}

#main-section {
  filter: grayscale(10%);
  opacity: 0.9;
  /* filter: blur(2px); */
}

/* font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    background-color: #D7293A;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em; */
@-webkit-keyframes start-menu {
  0% {
    width: 0vw;
    height: 0vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}
@-webkit-keyframes loading-text {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    width: 50vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0vw;
    height: 0vh;
  }
}
@-webkit-keyframes box1 {
  0% {
    background-color: transparent;
    border: white;
  }
  100% {
    background-color: #d7293a;
    border: transparent;
  }
}
@-webkit-keyframes box2 {
  0% {
    background-color: transparent;
    border: white;
  }
  100% {
    background-color: #d7293a;
    border: transparent;
  }
}
@-webkit-keyframes box3 {
  0% {
    background-color: transparent;
    border: white;
  }
  100% {
    background-color: #d7293a;
    border: transparent;
  }
}
@-webkit-keyframes box4 {
  0% {
    background-color: transparent;
    border: white;
  }
  100% {
    background-color: #d7293a;
    border: transparent;
  }
}
@-webkit-keyframes box5 {
  0% {
    background-color: transparent;
    border: white;
  }
  100% {
    background-color: #d7293a;
    border: transparent;
  }
}
@-webkit-keyframes box1down {
  0% {
    top: 0;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes box2down {
  0% {
    top: 0;
  }
  50% {
    top: 5vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes box3down {
  0% {
    top: 0;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes box4down {
  0% {
    top: 0;
  }
  50% {
    top: 5vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes box5down {
  0% {
    top: 0;
  }
  50% {
    top: -5vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes button-enter {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: auto;
  }
}
@-webkit-keyframes button-enter2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@-webkit-keyframes box-cta {
  0% {
    left: -50px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes fixedWhite {
  100% {
    color: white;
  }
}
@-webkit-keyframes in {
  0% {
    left: -150px;
  }
  100% {
    left: -19px;
    opacity: 0.8;
    border-radius: 0 0 20px 0;
  }
}
@-webkit-keyframes out {
  0% {
    left: -50px;
  }
  100% {
    left: -150px;
  }
}
@-webkit-keyframes progressive {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes arrow {
  100% {
    top: 0px;
  }
}
@-webkit-keyframes up {
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes down {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -80px;
  }
}
@-webkit-keyframes prog {
  25% {
    color: #1e233e;
  }
  50% {
    color: #FFFFFF;
  }
  75% {
    color: #d7293a;
  }
  100% {
    color: #FFFFFF;
  }
}
@-webkit-keyframes button-newsletter {
  0% {
    color: #1e233e;
    left: 0px;
  }
  50% {
    color: #d7293a;
    left: 5px;
  }
  100% {
    color: #1e233e;
    left: 0px;
  }
}
@-webkit-keyframes banner-progressive {
  100% {
    top: 5vh;
  }
}
@-webkit-keyframes button-phone {
  0% {
    color: #d7293a;
    left: 0px;
  }
  50% {
    color: #1e233e;
    left: 5px;
  }
  100% {
    color: #d7293a;
    left: 0px;
  }
}
/*Body de base avec choix couleur*/
body {
  justify-content: center;
  width: 100vw;
  margin: 0 auto 0 auto;
  background-color: white;
  color: #1e233e;
  font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  color: #d7293a;
  font-weight: 700;
}

.container-fluid {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}

.row {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}

.hide {
  display: none;
}

#main-section {
  height: 100vh;
}

.section-title {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  background-color: #d7293a;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

.section--bg-color-secondary {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #1e233e;
  /*  @include circle-left(); */
}

.section--bg-color-primary {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #d7293a;
  /*   @include circle-right(); */
}

.section--color-secondary {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #1e233e;
  background-color: #FFFFFF;
}

.section--color-primary {
  /* $color $bg-color $font */
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #d7293a;
  background-color: #FFFFFF;
}

.border-left--secondary {
  border-left: 2px solid #1e233e;
  padding: 0 2em 0 2em;
  text-align: left;
  font-size: 1em;
}

.border-left--primary {
  border-left: 2px solid #d7293a;
  padding: 0 2em 0 2em;
  text-align: left;
  font-size: 1em;
}

.border-right--secondary {
  border-right: 2px solid #1e233e;
  padding: 0 2em 0 2em;
  text-align: right;
  font-size: 1em;
}

.border-right--primary {
  border-right: 2px solid #d7293a;
  padding: 0 2em 0 2em;
  text-align: right;
  font-size: 1em;
}

.card-title {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: #d7293a;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.3em;
  line-height: 1.2em;
}

.card-menu {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d7293a;
  color: #FFFFFF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
  align-self: center;
  overflow: hidden;
  letter-spacing: 0.1em;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 110px;
}

.card-text {
  font-size: 0.9em;
  color: #d7293a;
  background-color: #FFFFFF;
  text-align: left;
  padding: 0.4em;
  margin: 0.2em 0 0.2em 0;
}

.card-section {
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  color: #1e233e;
  background-color: #FFFFFF;
  opacity: 0.95;
}

.card-img-top {
  transform: scale(1);
  width: 100%;
  height: auto;
}

.btn {
  background-color: #FFFFFF;
  color: #d7293a;
  border: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 45px;
  text-align: center;
  border: none;
}

.btn:hover {
  background-color: #1e233e;
  opacity: 0.9;
}

.carousel-control-prev {
  /*    position: relative;
     top: 0px; */
  background-color: #1e233e;
  opacity: 0.4;
  z-index: 500;
  height: 3em;
}

.carousel-control-next {
  background-color: #d7293a;
  opacity: 0.4;
  z-index: 500;
  height: 3em;
}

#carouselExampleFade {
  max-width: 700px;
}

/*Voir section Infos, card*/
#image-contact {
  max-width: 800px;
}

#menu-contact img {
  width: 100%;
}

#map {
  min-height: 300px;
}

.news-letter {
  /* $color $bg-color $font */
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  background-color: #1e233e;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  letter-spacing: 0.3em;
  line-height: 1.5em;
}

.form-control {
  border: 1px solid #d7293a;
  color: #1e233e;
}

/*partie ├á montrer sur le t├®l├®phone"*/
#section-progressive {
  position: absolute;
  animation-name: progressive;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: #1e233e;
  line-height: 1.5em;
}
#section-progressive h1 {
  text-align: center;
  height: 100%;
}
#section-progressive .fa-arrow-up {
  position: fixed;
  top: 1em;
  right: 0.1em;
  font-size: 1.5em;
  color: #d7293a;
  animation-name: arrow;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/*partie ├á montrer sur le desktop*/
#banner-progressive {
  position: fixed;
  line-height: 3em;
  top: -50vh;
  left: 10vw;
  width: 80vw;
  max-width: 500px;
  height: 50vh;
  z-index: 1000;
  animation-name: banner-progressive;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#button-phone {
  display: none;
  color: #d7293a;
  background-color: transparent;
  position: relative;
  font-size: 3em;
  z-index: 100;
  cursor: pointer;
  animation-name: button-phone;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}

#main-section.flou {
  filter: grayscale(90%) blur(1px);
  opacity: 0.7;
}

#button-newsletter.fa-envelope-open {
  color: #1e233e;
  position: relative;
  font-size: 2.5em;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
  animation-name: button-newsletter;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}

#section-newsletter {
  background-color: #d7293a;
  color: #FFFFFF;
  position: fixed;
  font-size: 0.8em;
  line-height: 3em;
  top: -50vh;
  left: 10vw;
  width: 80%;
  margin: 0 auto 0 auto;
  max-width: 400px;
  z-index: 1000;
  animation-name: banner-progressive;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#section-newsletter .section-title--blue {
  background-color: #1e233e;
}

.banner-header {
  background-image: url("../img/banner-phone--red.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  border-radius: 0 0 0 40%;
  margin: 0;
  padding: 0;
}

.banner-header::after {
  position: absolute;
  top: 90%;
  left: 30%;
  border-radius: 50%;
  width: 40%;
  height: 100%;
  background-color: white;
  content: "";
}

.banner-header--hide {
  display: none;
}

.circle {
  position: relative;
  top: 90%;
  left: 33%;
  border-radius: 50%;
  width: 34%;
  height: 100%;
  background-color: white;
  content: "";
}

#banner-main {
  background-image: url("../img/banner-phone--red.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  border-radius: 0 0 0 40%;
  margin: 0;
  padding: 0;
}

.button.hide.fas {
  display: flex;
  justify-content: center;
}

#button-footer {
  color: #d7293a;
  background-color: transparent;
  position: relative;
  font-size: 3em;
  z-index: 100;
  cursor: pointer;
  animation-name: button-phone;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}

#footer {
  position: fixed;
  bottom: -80px;
  left: 0%;
  width: 100%;
}

#footer.up {
  animation-name: up;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#footer.down {
  animation-name: down;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#list-media {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 2em;
}
#list-media li i {
  justify-content: space-around;
  list-style: none;
}
#list-media a {
  text-decoration: none;
  color: white;
}
#list-media a:hover {
  color: #1e233e;
}

.circle-footer {
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 0;
}

.circle-footer-left {
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100px;
  background: #d7293a;
  color: #FFFFFF;
  border-top-left-radius: 100%;
  border-top-right-radius: 0%;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

.circle-footer-right {
  position: relative;
  height: 100px;
  background: #d7293a;
  color: #FFFFFF;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

#menu {
  list-style: none;
  padding: 0;
  margin: 0 1em 0 1em;
  flex: 60%;
  max-width: 100px;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  z-index: 5000;
  color: #d7293a;
  background-color: #d7293a;
  /*  font-size: 1.4em; */
  font-size: 100%;
}

#menu li {
  text-align: left;
}

#menu a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 10px 0 10px;
}
#menu a:hover {
  color: #1e233e;
  font-weight: 700;
}

#button-menu {
  color: #d7293a;
  position: fixed;
  text-align: center;
  top: 40%;
  left: 5px;
  background-color: transparent;
  opacity: 0.8;
  font-size: 2.5em;
  max-width: 50px;
  z-index: 10000;
}
#button-menu:hover {
  opacity: 1;
}

#button-menu.color-primary {
  color: #d7293a;
}

#menu.in {
  animation-name: in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#menu.out {
  animation-name: out;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@font-face {
  font-family: "Segoe";
  src: url("../sass/theme/Segoe UI.ttf") format("ttf");
}
@media only all and (min-width: 576px) {
  #start-menu.start-menu {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4em;
    line-height: 3em;
  }

  /*     body {
         width: 80%;
      } */
  /* #button-menu.button-menu {
      color: $primary;
      top: 40%;
      left: 5px;
      opacity:0.8;
      &:hover{
          opacity:1;
          font-size: 2.5em;
      }
  }   
  /* #button-menu.fixed{
      @include button-menu();
  } */
  /*   #menu.in {
        @include in();

    }
    #menu.out{
        @include out();
    } */
  #banner-main.banner-header {
    background-image: url("../img/banner-medium.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    border-radius: 0 0 0 40%;
    margin: 0;
    padding: 0;
  }
  #banner-main.banner-header.hide {
    display: flex;
  }

  .section.hide, .button.hide {
    display: flex;
    justify-content: center;
  }

  #button-infos:hover {
    transition: all 0.3s ease 0s;
    opacity: 1;
    background-color: white;
    color: #d7293a;
  }
  #button-infos:hover .menu-title, #button-infos:hover .line {
    color: #d7293a;
    opacity: 1;
    border-color: #d7293a;
    transition: all 0.3s ease 0s;
  }
  #button-infos:hover .logo {
    opacity: 1;
    /*   transition: all 0.3s ease 0s; */
    border-radius: 50%;
  }

  #button-agenda:hover {
    transition: all 0.3s ease 0s;
    opacity: 1;
    background-color: white;
    color: #d7293a;
  }
  #button-agenda:hover .menu-title, #button-agenda:hover .line {
    color: #d7293a;
    opacity: 1;
    border-color: #d7293a;
    transition: all 0.3s ease 0s;
  }
  #button-agenda:hover .logo {
    opacity: 1;
    /*   transition: all 0.3s ease 0s; */
    border-radius: 50%;
  }

  #button-contact:hover {
    transition: all 0.3s ease 0s;
    opacity: 1;
    background-color: white;
    color: #d7293a;
  }
  #button-contact:hover .menu-title, #button-contact:hover .line {
    color: #d7293a;
    opacity: 1;
    border-color: #d7293a;
    transition: all 0.3s ease 0s;
  }
  #button-contact:hover .logo {
    opacity: 1;
    /*   transition: all 0.3s ease 0s; */
    border-radius: 50%;
  }

  #button-ask-us:hover {
    transition: all 0.3s ease 0s;
    opacity: 1;
    background-color: white;
    color: #d7293a;
  }
  #button-ask-us:hover .menu-title, #button-ask-us:hover .line {
    color: #d7293a;
    opacity: 1;
    border-color: #d7293a;
    transition: all 0.3s ease 0s;
  }
  #button-ask-us:hover .logo {
    opacity: 1;
    /*   transition: all 0.3s ease 0s; */
    border-radius: 50%;
  }

  p.border-left--secondary {
    border-left: 2px solid white;
    padding: 0 2em 0 2em;
    text-align: left;
    font-size: 1em;
  }

  p.border-left--primary {
    border-left: 2px solid white;
    padding: 0 2em 0 2em;
    text-align: left;
    font-size: 1em;
  }

  .border-right--secondary {
    border-right: 2px solid #1e233e;
    padding: 0 2em 0 2em;
    text-align: right;
    font-size: 1em;
  }

  p.border-right--primary {
    border-right: 2px solid #d7293a;
    padding: 0 2em 0 2em;
    text-align: right;
    font-size: 1em;
    padding: 0 2.7em 0 2em;
  }

  #news-letter::after {
    position: absolute;
    top: 90%;
    left: 30%;
    border-radius: 50%;
    width: 40%;
    height: 100%;
    background-color: white;
    content: "";
  }

  #button-footer {
    display: none;
  }

  #section-progressive {
    display: none;
  }

  #menu.list-menu {
    display: initial;
  }

  #button-phone.fa-mobile {
    display: initial;
  }
}
/* Reprendre l'architecture du BEM ici:*/
/*D├®finit le style et le comportement des boutons sur la page d'accueil */
.button {
  text-align: center;
  color: #d7293a;
}

.button:hover {
  transition: all 0.3s ease 0s;
  opacity: 1;
  background-color: white;
  color: #d7293a;
}
.button:hover .menu-title, .button:hover .line {
  color: #d7293a;
  opacity: 1;
  border-color: #d7293a;
  transition: all 0.3s ease 0s;
}
.button:hover .logo {
  opacity: 1;
  /*   transition: all 0.3s ease 0s; */
  border-radius: 50%;
}

img.logo {
  width: 100%;
  height: 100%;
  max-width: 80px;
  min-width: 50px;
  text-align: center;
}

.menu-title {
  font-size: 1.4em;
  font-weight: 550;
  letter-spacing: 0.1em;
  color: #d7293a;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  flex: 100%;
}

.line {
  align-items: flex-start;
  border-top: 2px solid #d7293a;
  width: 100%;
  height: 50%;
}

.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .row--blue {
    @include box--color($bg-primary, $white)
}
.row--red {
    @include box--color($bg-secondary, $white)
}
 */
