@mixin section-title($color,$bg-color){
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: $color;
    background-color: $bg-color;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
@mixin card-section-title($color,$bg-color){
    font-size: 1em;
    font-weight:500;
    text-transform: uppercase;
    color: $color;
    background-color: $bg-color;
    text-align: center;
    letter-spacing: 0.3em;
}
@mixin card-menu($color,$bg-color){
    font-size: 0.7em;
    font-weight:500;
    text-transform: uppercase;
    background-color: $bg-color;
    color:$color;
    padding: 0.4em;
    margin: 0.5em 0 0.5em 0;
    text-align: center;
    align-self: center;
    overflow: hidden;
    letter-spacing: 0.1em;
   
}
@mixin card-text($color,$bg-color,$font){
    font-size: $font;
    color: $color;
    background-color: $bg-color;
    text-align: left;
    padding:0.4em;
    margin: 0.2em 0 0.2em 0;

}
@mixin card-button(){
    background-color: $secondary;
    color: $white;
}
@mixin section($color,$bg-color){
    font-size: 0.8em;
    line-height: 2em;
    font-weight: 500;
    color: $color;
    background-color: $bg-color;
}
@mixin border-left($color){
    border-left: 2px solid $color;
    padding: 0 2em 0 2em;
    text-align: left;
}
@mixin border-right($color){
    border-right: 2px solid $color;
    padding: 0 2em 0 2em;
    text-align: right;
}

