@mixin section-title($color,$bg-color){
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    color: $color;
    background-color: $bg-color;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
@mixin card-menu($color,$bg-color){
    font-size: 0.8em;
    font-weight:500;
    text-transform: uppercase;
    background-color: $bg-color;
    color:$color;
    padding: 0.4em;
    margin: 0.5em 0 0.5em 0;
}
@mixin section($color,$bg-color){
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
    color: $color;
    background-color: $bg-color;
}
@mixin border-left($color){
    border-left: 2px solid $color;
    padding: 0 2em 0 2em;
    text-align: left;
}
@mixin border-right($color){
    border-right: 2px solid $color;
    padding: 0 2em 0 2em;
    text-align: right;
}

