#section-progressive {
    position: absolute;
    @include progressive();

    background-color: white;
    color: $secondary;
    line-height: 1.5em;
    & h1 {
        text-align: center;
    
        height:100%;
    }
    & .fa-arrow-up {
        position: fixed;
        top:1em;
        right:0.1em;
        font-size: 1.5em;
        color: $primary;
        @include arrow();
    }
} 